## Correlation Analysis

- What is correlation Analysis?
- How does correlation analysis help with data cleaning?
- Coding Example

### Correlation Analysis
Is a statistical technique used to examine the strength and direction of the relationship
 between two or more variables. 

Analyze the degree to which changes from one variable are associated with changes from another variable.

### How to do it?
Use `Correlation Coefficients`, which is a measurement of the strength and the direction of the relationship between the two variables

$$
\{Y, X\}
$$

### Popular Correlation Coefficients

#### Pearson
- Use for continuous data
- Measures the strength of the `linear relationship` between the variables
- Sensitive to outliers

#### Spearman
- Use for ordinal or ranked data
- Measures the strength of the `monotonic relationship` between the variables, which can be linear or non-linear
- More robust toward outliers

Correlation analysis can identify variables that are highly correlated to each other. 

The analysis may  indicate if one variable is `redundant` and can be eliminated

### Dealing with Categorical Data
- Data has many `non-numeric` features. You CAN NOT feed them to a learning model. They need to be converted. 
- Use the `pd.dtypes()` to see the data types

### Two main types
- Label encoding
- One-hot encoding

### Label Encoding
Each `unique` category in the categorical variable is assigned a numerical label. Typically starting at 0, 1, etc

### One-hot Encoding
A new binary feature is created `for each` category, and the value of that feature is is set to 1 if the observation belongs to that.

## Dealing with Categorical Data

In [3]:
import pandas as pd 
# Load dataset
# Use the hotels_booking_wip.csv from module3/notes.ipynb
data_df = pd.read_csv('../data/hotels_booking_wip.csv')

# data_df.head()

In [4]:
# See dataset dtypes
# data_df.dtypes

# Task: Create a list of those columns/features that are of type 'object'
# Using a list comprehension with predicate
cat_cols = [col for col in data_df.columns if data_df[col].dtype == 'object']
# cat_cols

In [5]:
# Task: Create a new DataFrame from only those columns
cat_df = data_df[cat_cols]
cat_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out

In [6]:
# Task: Print unique values of each feature in cat_df
for col in cat_df.columns:
    print(f'{col}: \n{cat_df[col].unique()}')

hotel:
['Resort Hotel' 'City Hotel']
arrival_date_month:
['July' 'August' 'September' 'October' 'November' 'December' 'January'
 'February' 'March' 'April' 'May' 'June']
meal:
['BB' 'FB' 'HB' 'SC' 'Undefined']
country:
['PRT' 'GBR' 'USA' 'ESP' 'IRL' 'FRA' 'ROU' 'NOR' 'OMN' 'ARG' 'POL' 'DEU'
 'BEL' 'CHE' 'CN' 'GRC' 'ITA' 'NLD' 'DNK' 'RUS' 'SWE' 'AUS' 'EST' 'CZE'
 'BRA' 'FIN' 'MOZ' 'BWA' 'LUX' 'SVN' 'ALB' 'IND' 'CHN' 'MEX' 'MAR' 'UKR'
 'SMR' 'LVA' 'PRI' 'SRB' 'CHL' 'AUT' 'BLR' 'LTU' 'TUR' 'ZAF' 'AGO' 'ISR'
 'CYM' 'ZMB' 'CPV' 'ZWE' 'DZA' 'KOR' 'CRI' 'HUN' 'ARE' 'TUN' 'JAM' 'HRV'
 'HKG' 'IRN' 'GEO' 'AND' 'GIB' 'URY' 'JEY' 'CAF' 'CYP' 'COL' 'GGY' 'KWT'
 'NGA' 'MDV' 'VEN' 'SVK' 'FJI' 'KAZ' 'PAK' 'IDN' 'LBN' 'PHL' 'SEN' 'SYC'
 'AZE' 'BHR' 'NZL' 'THA' 'DOM' 'MKD' 'MYS' 'ARM' 'JPN' 'LKA' 'CUB' 'CMR'
 'BIH' 'MUS' 'COM' 'SUR' 'UGA' 'BGR' 'CIV' 'JOR' 'SYR' 'SGP' 'BDI' 'SAU'
 'VNM' 'PLW' 'QAT' 'EGY' 'PER' 'MLT' 'MWI' 'ECU' 'MDG' 'ISL' 'UZB' 'NPL'
 'BHS' 'MAC' 'TGO' 'TWN' 'DJI' 'STP' 'KNA' 'ETH' 'IRQ' 'HND' 'RWA' 'KHM'
 'MCO' 'BGD' 'IMN' 'TJK' 'NIC' 'BEN' 'VGB' 'TZA' 'GAB' 'GHA' 'TMP' 'GLP'
 'KEN' 'LIE' 'GNB' 'MNE' 'UMI' 'MYT' 'FRO' 'MMR' 'PAN' 'BFA' 'LBY' 'MLI'
 'NAM' 'BOL' 'PRY' 'BRB' 'ABW' 'AIA' 'SLV' 'DMA' 'PYF' 'GUY' 'LCA' 'ATA'
 'GTM' 'ASM' 'MRT' 'NCL' 'KIR' 'SDN' 'ATF' 'SLE' 'LAO']
market_segment:
['Direct' 'Corporate' 'Online TA' 'Offline TA/TO' 'Complementary' 'Groups'
 'Undefined' 'Aviation']
distribution_channel:
['Direct' 'Corporate' 'TA/TO' 'Undefined' 'GDS']
reserved_room_type:
['C' 'A' 'D' 'E' 'G' 'F' 'H' 'L' 'B']
assigned_room_type:
['C' 'A' 'D' 'E' 'G' 'F' 'I' 'B' 'H' 'L' 'K']
deposit_type:
['No Deposit' 'Refundable' 'Non Refund']
customer_type:
['Transient' 'Contract' 'Transient-Party' 'Group']
reservation_status:
['Check-Out' 'Canceled' 'No-Show']

In [7]:
# Task: Cast the categorical features to the category date type for 'arrival_date_month'
# January -> 1, February -> 2, etc.
month_map = {'January': 1, 'February':2, 'March':3, 'April':4, 'May':5, 'June':6,
            'July':7, 'August':8, 'September':9, 'October':10, 'November':11, 'December':12}

# One/Old approach
# cat_df['arrival_date_month'] = cat_df['arrival_date_month'].map(month_map)
# Another/newer approach
# Cast it first
cat_df.loc[:,'arrival_date_month'] = cat_df['arrival_date_month'].map(month_map)

cat_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status
0,Resort Hotel,7,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out
1,Resort Hotel,7,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out
2,Resort Hotel,7,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out
3,Resort Hotel,7,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out
4,Resort Hotel,7,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out

In [8]:
# Now do the country hotel feature
# Use label encoding from sklearn: conda install scikit-learn
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()  # create an object of type LabelEncoder

In [9]:
# Encode country feature
# cat_df['country'] = le.fit_transform(cat_df['country'])  # this gives you a warning
cat_df.loc[:,'country'] = le.fit_transform(cat_df['country'])  # new way with .loc

cat_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status
0,Resort Hotel,7,BB,135,Direct,Direct,C,C,No Deposit,Transient,Check-Out
1,Resort Hotel,7,BB,135,Direct,Direct,C,C,No Deposit,Transient,Check-Out
2,Resort Hotel,7,BB,59,Direct,Direct,A,C,No Deposit,Transient,Check-Out
3,Resort Hotel,7,BB,59,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out
4,Resort Hotel,7,BB,59,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out

### One-Hot Encoding

In [10]:
# print all your categories
cat_df.columns

Index(['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment',
       'distribution_channel', 'reserved_room_type', 'assigned_room_type',
       'deposit_type', 'customer_type', 'reservation_status'],
      dtype='object')

In [11]:
# One-hot encoding for ALL features as one, except: 'arrival_date_month' and 'country'
processed_cols = ['arrival_date_month', 'country']
# Create a new list of columns to be converted
one_hot_cols = [col for col in cat_df.columns if col not in processed_cols]
dummy_df = pd.get_dummies(data=cat_df, columns=one_hot_cols)

dummy_df.head()
# TODO: Fix, 'reservation_status_date' feature

,arrival_date_month,country,hotel_City Hotel,hotel_Resort Hotel,meal_BB,meal_FB,meal_HB,meal_SC,meal_Undefined,market_segment_Aviation,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
0,7,135,False,True,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,True,False
1,7,135,False,True,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,True,False
2,7,59,False,True,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,True,False
3,7,59,False,True,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,True,False
4,7,59,False,True,True,False,False,False,False,False,...,True,False,False,False,False,True,False,False,True,False

In [12]:
# Merge back to the  cat_df
cat_df = pd.concat([cat_df, dummy_df], axis=1)
cat_df.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
0,Resort Hotel,7,BB,135,Direct,Direct,C,C,No Deposit,Transient,...,True,False,False,False,False,True,False,False,True,False
1,Resort Hotel,7,BB,135,Direct,Direct,C,C,No Deposit,Transient,...,True,False,False,False,False,True,False,False,True,False
2,Resort Hotel,7,BB,59,Direct,Direct,A,C,No Deposit,Transient,...,True,False,False,False,False,True,False,False,True,False
3,Resort Hotel,7,BB,59,Corporate,Corporate,A,A,No Deposit,Transient,...,True,False,False,False,False,True,False,False,True,False
4,Resort Hotel,7,BB,59,Online TA,TA/TO,A,A,No Deposit,Transient,...,True,False,False,False,False,True,False,False,True,False

In [13]:
# Drop the original 'object' columns
num_df = data_df.drop(columns=cat_cols, axis=1)
num_df.head()

,Unnamed: 0,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_year,reservation_status_month,reservation_status_day
0,0,0,342,2015,27,1,0,0,2,0.0,...,0,3,NaN,0,0.0,0,0,2015,7,1
1,1,0,737,2015,27,1,0,0,2,0.0,...,0,4,NaN,0,0.0,0,0,2015,7,1
2,2,0,7,2015,27,1,0,1,1,0.0,...,0,0,NaN,0,75.0,0,0,2015,7,2
3,3,0,13,2015,27,1,0,1,1,0.0,...,0,0,304.0,0,75.0,0,0,2015,7,2
4,4,0,14,2015,27,1,0,2,2,0.0,...,0,0,240.0,0,98.0,0,1,2015,7,3

In [14]:
# Now, create your final df
final_df = pd.concat([num_df, cat_df], axis=1)
final_df.head()

,Unnamed: 0,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party,reservation_status_Canceled,reservation_status_Check-Out,reservation_status_No-Show
0,0,0,342,2015,27,1,0,0,2,0.0,...,True,False,False,False,False,True,False,False,True,False
1,1,0,737,2015,27,1,0,0,2,0.0,...,True,False,False,False,False,True,False,False,True,False
2,2,0,7,2015,27,1,0,1,1,0.0,...,True,False,False,False,False,True,False,False,True,False
3,3,0,13,2015,27,1,0,1,1,0.0,...,True,False,False,False,False,True,False,False,True,False
4,4,0,14,2015,27,1,0,2,2,0.0,...,True,False,False,False,False,True,False,False,True,False

In [15]:
# Save it as a new file
# Index=False to avoid saving the index column
final_df.to_csv('../data/hotel_booking_new.csv', index=False)

### Correlation Analysis

In [17]:
# Create a correlation matrix
corr_matrix = final_df.corr(numeric_only=True)
# corr_matrix

### Correlation and Causation

**Correlation**: a measure of the extend of interdependence between variables

**Causation**: the relationship between cause and effect between two varaibles

#### Pearson Correlation
Measures the linear dependence between two variables. The result coefficient is a value between `-1 and +1`, where:

- `1`: Perfect positive linear correlation
- `0`: No linear correlation
- `-1`: Perfect negative linear correlation

Note: `Pearson` correlation is the default method in pandas for the `corr()` method.

In [18]:
# Do a correlation between 'is_canceled' and 'children' features
corr_matrix_two = final_df[['is_canceled', 'children']].corr()
corr_matrix_two

             is_canceled  children
is_canceled     1.000000  0.066124
children        0.066124  1.000000

Sometimes we want to know the significant of the correlation estimate

#### P-Value
The probability value that the correlation between the variables is statistically significant.

Normally we chose a significance level of `0.05`, which means we are `95%` confident. 

P-Values
- $<$ 0.001: we say there is `strong` evidence
- $<$ 0.05: we say there is `moderate` evidence
- $<$ 0.1: we say there is `weak` evidence
- $>$ 0.1: we say there is `no` evidence

In [20]:
# conda install scipy
from scipy.stats import pearsonr, spearmanr

corr, p_value = pearsonr(final_df['is_canceled'], final_df['children'])
print(f'Pearson Correlation:[{corr}]\n P_value:[{p_value}]')

Pearson Correlation:[0.06612422800100248]
 P_value:[1.7836581112101904e-84]